@font-face{
    font-family:Poppins-Regular;src:url(../files/Poppins-Regular.ttf)
}

body {
    font-family: Poppins-Regular,sans-serif;
    background: #f1f1f1 url("../files/home_hinterzarten.jpg") no-repeat fixed;
    background-size: cover;
}
.wrapper-mainWindow_body {
    z-index: 0;
    position: absolute;
    margin: 6% 39%;
    width: 22%;
    height: 65%;
    background: white;
    border-radius: 14px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
    opacity: 95%;
    animation-name: mainWindow_load;
    animation-duration: 2s;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 20% 20% 10% 0.5% 5% 10% 0.5% 10% 10% 9%;
    grid-template-areas:
        "emtyl emty1 emtyr"
        "emtyl text emtyr"
        "emtyl emty2 emtyr"
        "emtyl email emtyr"
        "emtyl line1 emtyr"
        "emtyl emty3 emtyr"
        "emtyl password emtyr"
        "emtyl line2 emtyr"
        "emtyl emty4 emtyr"
        "emtyl submit emtyr"
        "emtyl emty5 emtyr"
}
@keyframes mainWindow_load {
    0%{top: -50%}
    100%{top: 0}
}

@media screen and (max-width: 1600px) {
    .wrapper-mainWindow_body {
        width: 40%;
        margin: 6% 30%;
    }
}
@media screen and (max-width: 1000px) {
    .wrapper-mainWindow_body {
        width: 60%;
        margin: 6% 20%;
    }
}
@media screen and (max-width: 600px) {
    .wrapper-mainWindow_body {
        width: 70%;
        margin: 6% 15%;
    }
}

.container-infoText_mainWindow {
    z-index: 1;
    grid-area: text;
    border: none;
    text-align: center;
    font-size: xx-large;
}
#image-logo_infoText {
    margin: 0;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}




#input-email_mainWindow {
    z-index: 1 ;
    position: relative;
    grid-area: email;
    background: none;
    color: #bcbcbc;
    text-align: center;
    outline: none;
    border: none;
    font-family: Poppins-Regular,sans-serif;
    animation-name: email_load;
    animation-duration: 4.3s;
}
@keyframes email_load {
    0%{opacity: 0; transform: scale(0)}
    100%{opacity: 100%; transform: scale(1)}
}

.container-bottomLine1_mainWindow {
    z-index: 1 ;
    position: relative;
    grid-area: line1;
    top: -20px;
    margin: 0 10%;
    background: #bcbcbc;
    border-radius: 35px;
    border: none;
    animation-name: email_load;
    animation-duration: 4.3s;
    overflow: hidden;
}
.container-bottomLine1_mainWindow::after {
    content: "";
    position: absolute;
    z-index: 2 ;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(46,0,255,1) 0%, rgba(255,0,129,1) 96%);
    left: -101%;
}
#input-email_mainWindow:hover + .container-bottomLine1_mainWindow::after, #input-email_mainWindow:focus + .container-bottomLine1_mainWindow::after {
    left: 0;
    transition-duration: 2s;
}




#input-password_mainWindow {
    z-index: 1 ;
    position: relative;
    grid-area: password;
    background: none;
    color: #bcbcbc;
    text-align: center;
    outline: none;
    border: none;
    font-family: Poppins-Regular,sans-serif;
    animation-name: password_load;
    animation-duration: 4.3s;
}
@keyframes password_load {
    0%{opacity: 0; transform: scale(0)}
    100%{opacity: 100%; transform: scale(1)}
}

.container-bottomLine2_mainWindow {
    z-index: 1 ;
    position: relative;
    grid-area: line2;
    top: -20px;
    margin: 0 10%;
    background: #bcbcbc;
    border-radius: 35px;
    border: none;
    animation-name: password_load;
    animation-duration: 4.3s;
    overflow: hidden;
}
.container-bottomLine2_mainWindow::after {
    content: "";
    position: absolute;
    z-index: 2 ;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(46,0,255,1) 0%, rgba(255,0,129,1) 96%);
    left: -101%;
}
#input-password_mainWindow:hover + .container-bottomLine2_mainWindow::after, #input-password_mainWindow:focus + .container-bottomLine2_mainWindow::after {
    left: 0;
    transition-duration: 2s;
}




.border-submitField_mainWindow {
    z-index: 1 ;
    position: relative;
    grid-area: submit;
    background: linear-gradient(90deg, rgba(46,0,255,1) 0%, rgba(255,0,129,1) 96%);
    border-radius: 35px;
    border: none;
    cursor: pointer;
    text-align: center;
    animation-name: submitField_load;
    animation-duration: 3s;
}
@keyframes submitField_load {
    0%{opacity: 0; top: 400%; transform: scale(0.4)}
    50%{opacity: 0; top: 400%; transform: scale(0.4)}
    100%{opacity: 100%; top: 0; transform: scale(1)}
}

#button-submit_submitField {
    z-index: 2 ;
    position: relative;
    width: 98%;
    height: 85%;
    top: 7%;
    background: #fffeeb;
    border-radius: 35px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: Poppins-Regular,sans-serif;
    background: linear-gradient(90deg, rgb(46, 0, 255) 0%, rgb(255, 0, 129) 96%);
}
#button-submit_submitField:focus {
    animation-name: submit_focus;
    animation-duration: 3s;
}
@keyframes submit_focus {
    0%{transform: scale(1); background: white; opacity: 1}
    100%{transform:  scale(0.1); background: white; opacity: 0}
}
#button-submit_submitField:hover {
    background: white;
    transition-duration: 1s;
}